body {
  margin: 0;
  padding: 0;
}

header {
  display: inline-block;
  width: 100%;
  background: url(../images/payments-banner-graphic.png) no-repeat;
  background-size: cover;
}

#top {
  display: inline-block;
  width: 100%;
}

#logo {
  display: inline-block;
  width: 84%;
  margin-left: 20px;
}

nav {
  display: inline-block;
  width: 14%;
}

#menu {
  padding: 0;
}

#menu li {
  display: inline-block;

}

#create {
  text-align: center;
}

#asides {
  width: 100%;
}

.aside {
  display: inline-block;
  width: 33%;
  text-align: center;
}

#price {
  width: 100%;
  text-align: center;
}

.article {
  display: inline-block;
  width: 49%;
}

#account {
  width: 100%;
  text-align: center;
}

footer {
  width: 100%;
}

.liste_footer {
  display: inline-block;
  width: 33%;
  margin: 0 auto;
}

#copyright {
  width: 50%;
  margin: auto;
}
